.CategoriesContainer {
  display: grid;
  grid-row: 1 / 2;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px 5px;
}
.container {
  margin: 5px 5px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px 10px;
  background-color:rgba(204, 187, 187, 0.5); 
  border-radius: 9px;
}
.GroupsContainer {
  grid-row: 2 / 4;
  grid-template-rows: 1fr 1fr;
}
.ProductsContainer {
  grid-row: 4 / 7;
  grid-template-rows: 1fr 1fr 1fr;
}
.CommentsContainer {
  grid-row: 7 / 9;
  grid-template-rows: 1fr 1fr;
}
#atras-groups, #atras-products, #comment {
  grid-column:  1/2;
  grid-row: 1/2;
}
#atras-comments {
  grid-column: 2 / 3;
  grid-row: 1/2;
}
#adelante-groups, #adelante-comments{
  grid-column:  6/7;
  grid-row: 2/3;
}
#adelante-products {
  grid-column:  6/7;
  grid-row: 3/4;
}
